<section class="text-center content-section" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Contact us</h2>
        <p>Feel free to contact on socials.</p>
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" type="button"><i
                class="fa fa-google-plus fa-fw"></i><span>&nbsp; Google+</span></button></li>
          <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" type="button"><i
                class="fa fa-twitter fa-fw"></i><span>&nbsp;Twitter</span></button></li>
          <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" type="button"><i
                class="fa fa-github fa-fw"></i><span>&nbsp;github</span></button></li>
        </ul>
      </div>
    </div>
  </div>
</section>
