<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="#" routerLink="/user/dashboard/">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/user/dashboard/profile" href="#">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" routerLink="/user/dashboard/all-quizzess">
        <i class="bi bi-clipboard-check"></i>
        <span>All Quizzess</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" routerLink="/user/dashboard/categories">
        <i class="bi bi-hdd-stack"></i>
        <span>Quiz Categories</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" routerLink="/user/dashboard/submissions">
        <i class="bi bi-check2-circle"></i>
        <span>Submissions</span>
      </a>
    </li>

  </ul>

</aside><!-- End Sidebar-->
