<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-12 mb-4">
      <div class="card card-container">
        <div class="card-header">
          <h2>Welcome, {{ studentName }}</h2>
          <p>{{ todayDate | date:'fullDate' }}</p>
        </div>
        <div class="card-body scrollable-section">
          <h4>Upcoming Deadlines</h4>
          <ul>
            <li *ngFor="let deadline of upcomingDeadlines">
              <span>{{ deadline.name }} - {{ deadline.dueDate | date:'shortDate' }}</span>
              <div class="progress">
                <div class="progress-bar" [style.width]="deadline.progress + '%'">{{ deadline.progress }}%</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-12 mb-4">
      <div class="card card-container">
        <div class="card-header">
          <h4>Recent Activities</h4>
        </div>
        <div class="card-body scrollable-section">
          <ul>
            <li *ngFor="let activity of recentActivities">
              <span>{{ activity.description }} - {{ activity.date | date:'short' }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-12 mb-4">
      <div class="card card-container">
        <div class="card-header">
          <h4>Announcements</h4>
        </div>
        <div class="card-body scrollable-section">
          <ul>
            <li *ngFor="let announcement of announcements">
              <h5>{{ announcement.title }}</h5>
              <p>{{ announcement.content }}</p>
              <small>{{ announcement.date | date:'shortDate' }}</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
