<section class="admin-dashboard-home py-3">
  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <h2 class="text-center">Student Dashboard</h2>
        <p class="text-center text-muted">Your Hub for All Things Exams and Assessments</p>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-6 mb-4">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h5 class="card-title">Attempts Quizzes</h5>
            <p class="card-text">Access Quizzes to Enhance Your Learning</p>
            <a href="#!" routerLink="/user/dashboard/all-quizzess" class="btn btn-primary">Go to Quizzes</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h5 class="card-title">All Submissions</h5>
            <p class="card-text">Review Your Completed Assignments and Exams</p>
            <a href="#!" routerLink="/user/dashboard/submissions" class="btn btn-primary">Go to Submissions</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
