.container-fluid {
  padding: 10px;
}

.card-container {
  margin-bottom: 15px;
}

.scrollable-section {
  max-height: 250px;
  overflow-y: auto;
  padding: 10px;
}

.progress-bar {
  height: 20px;
}
